#!/bin/sh

alias prompt_normal='PS1=$PS0'
alias prompt_alarm='PS1="$PS0\a"'
alias prompt_status='PS1="$PS8"'

alias cal="cal -m3"
alias df="df -h"
alias diff="colordiff"
alias du="du -h"
alias free="free -h"
alias gclean='git clean -d -x -f'
alias grep="grep --color=auto"
alias j="jobs"
alias ls="ls -h --color=auto --group-directories-first"
alias ll="ls -l"
alias lla="ll -A"
#alias m="mplayer"
alias mpdd="mpd ~/.config/mpd/mpd.conf"
alias ncmpcpp="ncmpcpp --config ~/.config/ncmpcpp/config"
alias rm="rm -I"
#alias startx='startx &> ~/.cache/xlog ; vlock'
alias startx='startx &>/dev/null ; vlock'
alias td="$EDITOR ~/doc/notes/todo"
alias tree="tree -AC"
alias v="vim"
alias xrnat="xrandr --output LVDS1 --mode 1366x768"

