#!/bin/bash

alias prompt_normal='PS1=$PS0'
alias prompt_alarm='PS1="$PS0\a"'
alias prompt_status='PS1="$PS8"'

alias cal="cal -m3"
alias df="df -h"
alias diff="colordiff"
alias du="du -h"
alias e="emacs"
alias free="free -h"
alias grep="grep --color=auto"
alias j="jobs"
alias ls="ls -h --color=auto --group-directories-first"
alias ll="ls -l"
alias lla="ll -A"
alias m="mplayer"
alias rm="rm -I"
alias startx='startx &> ~/.cache/xlog ; vlock'
alias td="$EDITOR ~/doc/todo/todo"
alias tree="tree -AC"
alias v="vim"

alias ml='echo "Mariusz Libera <mariusz.libera@gmail.com>"'
alias ts='echo -n `date +%F` ; echo  "  Mariusz Libera  <mariusz.libera@gmail.com>"'
