#!/bin/bash
# KEYBOARD MAP
# available options are in /usr/share/X11/xkb/rules/evdev.lst
# setxkbmap \
#     -layout pl \
#     -option ctrl:nocaps \
#     -option compose:lctrl \
#     -option shift:both_capslock \
#     -option terminate:ctrl_alt_bksp

# sets all of the above + turns space into Hyper_L that is another Ctrl
xkbcomp ~/.config/my_keyboard "$DISPLAY"

# space acts as ctrl when used as modifier and as space when used alone
# capsloc acts as ctrl when used as modifier and as escape when used alone
xcape -e "Hyper_L=space;Control_L=Escape"

# KEY REPEAT
xset r rate 250 30

