! --[ Font Rendering ]--------------------------------------
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.autohint: true
Xft.lcdfilter: lcddefault

! --[ Mouse ]-----------------------------------------------
Xcursor.theme: Vanilla-DMZ
Xcursor.size:  24

! --[ Xterm ]-----------------------------------------------
xterm*renderFont: true
xterm*faceName: xft:UbuntuMono:size=12
xterm*utf8: true
xterm*cursorColor: #83C048
xterm*foreground:#eeeeee
xterm*background:#1F1F1F

! --[ URxvt ]-----------------------------------------------
URxvt.background:#1F1F1F
URxvt.cursorColor:#83C048
URxvt.foreground:#eeeeee
URxvt.highlightColor:#444444
URxvt.underlinecolor: #999999

URxvt.boldFont: xft:UbuntuMono:size=12:bold
URxvt.boldItalicFont: xft:UbuntuMono:size=12:bold:italic
URxvt.font: xft:UbuntuMono:size=12
URxvt.italicFont: xft:UbuntuMono:size=12:italic
URxvt.letterSpace: -1

URxvt.internalborder: 0
URxvt.pointerBlank: true
URxvt.saveLines: 8192
URxvt.scrollBar:false
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true

#include "/home/mariusz/.config/xcolors/tango"

! --[ URxvt - URL/Clipboard Handling ]----------------------
!URxvt.perl-ext-common:      default,url-select,keyboard-select
!URxvt.keysym.M-u:           perl:url-select:select_next
!URxvt.url-select.launcher:  chromium
!URxvt.url-select.underline: true
!URxvt.colorUL: #4682B4
!URxvt.keysym.M-Escape:      perl:keyboard-select:activate
!URxvt.keysym.M-s:           perl:keyboard-select:search

