snippet ml "Mariusz Libera"
Mariusz Libera
endsnippet

snippet em "E-mail"
mariusz.libera@gmail.com
endsnippet

snippet mtr "AUR Maintainer"
# Maintainer: Mariusz Libera <mariusz.libera@gmail.com>
endsnippet

snippet cr "Copyright"
Copyright `date +%Y` Mariusz Libera
endsnippet

