snippet sw "switch"
switch (${1:var}) {
    case: '${2:const}'
        ${3:statement}
        break;
    ${4:next_case}
}

endsnippet

snippet defa "default:"
default:
    ${1:statement}
    break;
endsnippet

snippet case "case:"
case: '${1:cont}'
    ${2:statement}
    break;
endsnippet
